@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
li{
list-style: none;
}
/* common css end */
.navbar{

    background:linear-gradient( #0376d3, #0768c8aa);
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bar .logo{
    font-size: 30px;
    font-weight: 700;
}
.menu-bar .logo span{
    color: #fff;
}
.menu-bar ul{
    display: flex;
}
.menu-bar ul li{

}
.menu-bar ul li a{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    color: #fff;
}

/* bunner css start */
.bunner {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 216px 0 166px;
  text-align: right;
}
.bunner h1 {
  font-weight: 700;
  font-size: 45px;
  color: #fff;
}
.bunner p {
  margin: 24px 0 32px;
  color: #fff;
}

.bunner a {
  padding: 20px 25px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.bunner a:hover {
  color: #005fac;
  background-color: #fff;
  border: 2px solid transparent;
}
/* bunner css end */
/* failures css start */
.failures {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin: 130px auto;
}
.failures-description {
  margin-top: 270px;
}
.failures-description h2 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 24px;
}
.failurs-last-year {
  padding-top: 16px;
}
.failures-list {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.failures-list .failures-list-icon img {
  width: 25px;
}
/* failures css end */
/* my plan css start */
.my-plans .heading {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 50px 0;
}
.my-plans-categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.my-plans-categories-list {
  text-align: center;
}
.my-plans-categories-list h3 {
  font-weight: 700;
  font-size: 30px;
}
.my-plans-categories-list p {
  font-weight: 500;
  font-size: 25px;
}
/* my plan css end */

/* contact css start */
.contact {
  border-radius: 8px;
  height: 300px;
  background: url(../images/watch.png);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ovarlay {
  border-radius: 8px;
  height: 300px;
  background-image: linear-gradient(
    90deg,
    #005fac 0%,
    rgba(0, 95, 172, 0) 100%
  );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.contact-text {
  padding: 59px 0 0 64px;
}
.contact .ovarlay h2 {
  padding-bottom: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}
.contact .ovarlay a {
  padding: 20px 35px;
  color: #fff;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  transition: 0.5s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contact .ovarlay a:hover {
  background-color: #ffff;
  border: 1px solid transparent;
  color: #005fac;
}

/* contact css end */

/* footer css start  */
footer {
  margin-top: 130px;
  padding: 130px 0;
  background-color: #343434;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-future h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}
.footer-future {
  color: #fff;
}
.footer-text {
  padding: 16px 0 24px;
}
.footer-phone {
  padding: 16px 0 32px;
}
.footer-future .icon img {
  padding-right: 17px;
}
.footer-subscriber h4 {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}
.footer-subscriber p input {
  margin: 30px 0 15px;
  width: 230px;
  padding: 21px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.footer-subscriber p input::placeholder {
  color: #fff;
  padding: 0 30px 0 0;
}
.footer-subscriber a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffff;
  padding: 20px 35px;
  transition: all 0.5s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer-subscriber a:hover {
  border: 1px solid transparent;
  color: #fff;
  background-color: #005fac;
  box-shadow: rgba(28, 28, 28, 0.1) 0px 4px 12px;
}
/* footer css end */
